html {
    font-size: 1.33rem;
    line-height: 1.5;
    background-color: #ffffff;
    color: #0a0908;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'IBM Plex Serif', serif;
}

p {
    margin-top: 0em;
}

a {
  text-decoration: none;
  color: #2327aa;
}

.hero {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 60vh;
    background-image: url(../images/pattern.webp);
    background-size: 25%;
    display: grid;
    grid-template-columns: minmax(1.2rem, 1fr) minmax(0, 70ch) minmax(1.2rem, 1fr);
    box-shadow: inset 0px -4px 10px 0px rgba(0,0,0,0.2);
}

.hero-content {
    grid-column: 2;
    height: 100%;
}

.logo-block {
    height: 80%;
}

.logo-block > img, .logo-block > svg {
    height: 100%;
}

.top-menu {
    display: flex;
    height: 40%;
    justify-content: center;
    align-items: center;
}

.post-title {
    height: 60%;
}

.post-title > div {
    padding-top: 2rem;
}

.post-title h2 {
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
    font-weight: bold;
    font-variant: small-caps;
    max-width: 100%;
}

.post-title h1 {
    padding: 0;
    margin: 0;
    font-size: 1.65rem;
}

.post-title .post-date {
    font-weight: bolder;
    font-size: 0.8rem;
}

.post-content {
    display: grid;
    grid-template-columns: minmax(1.2rem, 1fr) minmax(0, 70ch) minmax(1.2rem, 1fr);
}

.post-content > * {
    grid-column: 2;
}

.cell {
    margin: 0.777em 0em;
}

.in-series-previous, .in-series-next {
  padding: 0.777em 0em;
  text-decoration: none;
  color: black;
}

.in-series-previous {
  grid-column: 1;
  padding-left: 10%;
}

.in-series-next {
  grid-column: 3;
  padding-right: 10%;
}

.in-series-previous .note, .in-series-next .note {
  font-variant: small-caps;
  font-size: 0.75rem;
}

.in-series-previous .title, .in-series-next .title {
  font-size: 0.85rem;
}

.series-cell {
    margin: 0;
    padding: 0.777em 0em;
    font-size: 0.85rem;    
}

.series-starting-cell {
    grid-row: 1;
}

.series-cell > a {
    text-decoration: none;
    font-weight: bolder;
    color: #2327aa;
}

.title-cell > h2 {
    margin-bottom: 0.2em;
}

.title-cell > .post-date {
    font-size: 0.7em;
}


.md-cell > p:last-child {
    margin-bottom: 0;
}


.section-header-cell,
.subsection-header-cell,
.subsubsection-header-cell {
    margin: 0.17em;
    position: relative;
}

.section-header-cell > .header-link,
.subsection-header-cell > .header-link,
.subsubsection-header-cell > .header-link {
    bottom: 0;
    left: -0.9em;
    position: absolute;
}

.section-header-cell > a,
.subsection-header-cell > a,
.subsubsection-header-cell > a {
    color: inherit;
    text-decoration: none;
}

.header-link img {
    width: 0.7em;
}

.section-header-cell h3 {
    margin: 0;
}

.subsection-header-cell h4 {
    margin: 0;
}

.subsubsection-header-cell h5 {
    margin: 0;
}

@media (min-width: 601px) {
    .two-column-cell > .left {
        float: left;
        width: 37%;
    }
    
    .two-column-cell > .right {
        float: left;
        width: 63%;
    }

    .two-column-cell.sticky > .right,
    .two-column-cell.sticky > .left {
        position: -webkit-sticky;
        position: sticky;
        top: 10px;
    }

    .two-column-cell > .clear {
        clear: both;
    }
}

@media (max-width: 600px) {
    .two-column-cell > .left,
    .two-column-cell > .right {
        width: 100%;
    }
    
    .two-column-cell > .clear {
        display: none;
    }
}

@media (max-width: 600px) {
  .in-series-previous, .in-series-next {
    padding-left: 0;
    grid-column: 2;
  }

  .in-series-previous {
    grid-row: 2;
  }

  .in-series-next {
    grid-row: 3;
  }

  div.in-series-previous, div.in-series-next {
    padding: 0
  }
}

@media (max-width: 600px) {
    html {
        font-size: 1.1rem;
    }

    .hero {
        background-size: 50%;
    }
    
    .top-menu {
        height: 30%;
    }
    
    .post-title {
        height: 70%;
    }
    
    .post-title > div {
        padding-top: 2rem;
    }
    
    .post-title h2 {
        font-size: 1.25rem;
    }
    
    .post-title h1 {
        font-size: 1.75rem;
    }
}

.dfa-minimization-table {
  border-collapse: collapse;
}

.dfa-minimization-table > thead .groups-head-row th:not(:last-child) {
  border-right: 2px solid black;
}

.dfa-minimization-table > thead .states-head-row th:not(:first-child) {
  border-left: 1px solid black;
}

.dfa-minimization-table > thead .states-head-row th.first-state-of-group {
  border-left: 2px solid black;
}

.dfa-minimization-table > thead {
  border-bottom: 2px solid black;
}

.dfa-minimization-table > tbody {
  text-align: center;
}

.dfa-minimization-table > tbody tr td:not(:first-child) {
  border-left: 1px solid black;
}

.dfa-minimization-table > tbody tr td.first-state-of-group {
  border-left: 2px solid black;
}

.null-removal-table {
  border-collapse: collapse;
}
  
.null-removal-table > thead tr th:first-child {
  border-right: 2px solid black;
}

.null-removal-table > thead tr th:not(:first-child) {
  border-left: 1px solid black;
}

.null-removal-table > thead {
  border-bottom: 2px solid black;
}

.null-removal-table > tbody {
  text-align: center;
}

.null-removal-table > tbody tr td:first-child {
  border-right: 2px solid black;
}

.null-removal-table > tbody tr td:not(:first-child) {
  border-left: 1px solid black;
}
