html {
    font-size: 1.33rem;
    line-height: 1.5;
    background-color: #ffffff;
    color: #0a0908;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
}

.post-content {
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(0, 65ch) minmax(1rem, 1fr);
}

.post-content > * {
    grid-column: 2;
}

.two-column-cell {
    display: flex;
}

@media (max-width: 800px) {
    .two-column-cell {
        flex-direction: column;
    }
}

@media (min-width: 801px) {    
    .two-column-cell > .left {
        flex-grow: 2;
        flex-basis: 40%;
        flex-shrink: 0;
        padding-right: 0.5em;
    }
    
    .two-column-cell > .right {
        flex-grow: 3;
        flex-basis: 60%;
        flex-shrink: 0;
        padding-left: 0.5em;
    }

    .two-column-cell.sticky > .right,
    .two-column-cell.sticky > .left {
        position: -webkit-sticky;
        position: sticky;
        top: 10px;
        align-self: flex-start;
    }
}

.right > pre {
    max-width: 100%;
}
